.categories-container {
  width: 90%;
  margin: 16px auto;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-top: 16px;
  text-align: center;
}

.categories-wrapper {
  position: relative;
  width: 100%;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
  text-align: center;
}

@media (min-width: 1280px) {
  .categories-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.categories-grid--limited {
  overflow: hidden;
}

@media (max-width: 640px) {
  .categories-grid--limited {
    max-height: 200px;
  }
}

@media (max-width: 768px) {
  .categories-grid--limited {
    max-height: 240px;
  }
}

@media (max-width: 1024px) {
  .categories-grid--limited {
    max-height: 260px;
  }
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.category-item:hover {
  background-color: #f3f4f6;
}

.category-image {
  width: 100%;
  max-width: 120px;
  height: auto;
  object-fit: contain;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .category-image {
    max-width: 150px;
  }
}

.category-text {
  font-size: 10.5px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .category-text {
    font-size: 14px;
  }
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
  background: linear-gradient(to top, white, transparent);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (min-width: 1280px) {
  .gradient-overlay {
    display: none;
  }
}

.gradient-overlay--hidden {
  display: none;
}

.toggle-button {
  background-color: #805B99;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.toggle-button:hover {
  background-color: #805B99;
}

.close-button {
  background-color: #805B99;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #2563eb;
}

.close-button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}