.psc-container {
  width: 100%;
  max-width: 1440px;
  margin: 32px auto;
  position: relative;
  padding: 0 16px;
  font-family: "yekannew", sans-serif;
}

.psc-vip {
  background-color: #805b99;
  padding: 16px;
  border-radius: 8px;
}

.psc-header {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.psc-header-vip {
  justify-content: flex-end;
}

.psc-title {
  font-weight: 600;
  font-size: 18px;
}

.psc-view-all {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.psc-view-all:hover {
  text-decoration: underline;
}

.psc-view-all-vip {
  color: #ffffff;
  font-weight: 600;
}

.psc-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ebebeb;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  height: 48px;
  width: 48px;
  color: #805b99;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .psc-nav-button {
    display: flex;
  }
}

.psc-next-button {
  left: 16px;
}

.psc-content {
  display: flex;
  width: 100%;
}

.psc-vip-banner {
  width: 160px;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .psc-vip-banner {
    width: 192px;
  }
}

.psc-vip-banner-content {
  display: flex;
  background-color: #805b99;
  color: #ffffff;
  height: 290px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

@media (min-width: 1024px) {
  .psc-vip-banner-content {
    height: 320px;
  }
}

.psc-vip-banner-title {
  font-family: "yekannew", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.psc-swiper-container {
  flex: 1;
  overflow: hidden;
}

.psc-swiper {
  width: 100%;
}

.psc-vip-slide {
  width: 128px !important;
}

@media (min-width: 640px) {
  .psc-vip-slide {
    width: 160px !important;
  }
}

.psc-vip-banner-mobile {
  display: flex;
  background-color: #805b99;
  color: #ffffff;
  height: 290px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.psc-vip-banner-title-mobile {
  font-family: "yekannew", sans-serif;
  font-size: 16px;
  font-weight: 600;
}