.tpsc-container {
  width: 100%;
  max-width: 95%;
  margin: 16px auto;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  position: relative;
  font-family: 'yekannew', sans-serif;
  overflow: visible;
}

@media (min-width: 768px) {
  .tpsc-container {
    margin: 24px auto;
    padding: 16px;
  }
}

.tpsc-header {
  width: 100%;
  margin-bottom: 16px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 640px) {
  .tpsc-header {
    margin-bottom: 24px;
  }
}

.tpsc-title {
  font-weight: 600;
  font-family: 'yekanh', sans-serif;
  font-size: 14px;
}

@media (min-width: 640px) {
  .tpsc-title {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .tpsc-title {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .tpsc-title {
    font-size: 20px;
  }
}

.tpsc-view-all {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 4px;
  padding: 4px 8px;
  color: #000000;
  background-color: #e5e7eb;
  border: 1px solid #d1d5dc;
  border-radius: 9999px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(to right, #f3f4f6, #e5e7eb);
  transition: all 0.3s;
}

.tpsc-view-all:hover {
  background-color: #d1d5db;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 640px) {
  .tpsc-view-all {
    font-size: 14px;
    gap: 8px;
    padding: 4px 12px;
  }
}

.tpsc-view-all-icon {
  color: #4b5563;
}

.tpsc-product-card {
  display: flex;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

@media (min-width: 640px) {
  .tpsc-product-card {
    height: 280px;
    padding-top: 12px;
  }
}

@media (min-width: 768px) {
  .tpsc-product-card {
    height: 340px;
  }
}

.tpsc-product-image {
  width: 80px;
  height: 100px;
  object-fit: cover;
}

@media (min-width: 640px) {
  .tpsc-product-image {
    width: 96px;
    height: 96px;
  }
}

@media (min-width: 768px) {
  .tpsc-product-image {
    width: 112px;
    height: 112px;
  }
}

.tpsc-product-title {
  font-size: 10px;
  padding: 0 8px;
  font-weight: 700;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (min-width: 640px) {
  .tpsc-product-title {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .tpsc-product-title {
    font-size: 12px;
  }
}

.tpsc-price-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tpsc-price-button {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border: 1px solid #e5e7eb;
  font-size: 10px;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
  color: #000000;
}

@media (min-width: 640px) {
  .tpsc-price-button {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .tpsc-price-button {
    font-size: 14px;
  }
}

.tpsc-price-button-active {
  background-color: #e5e7eb;
}

.tpsc-price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

@media (min-width: 1024px) {
  .tpsc-price-quantity {
    flex-direction: row;
  }
}

.tpsc-price {
  font-weight: 700;
  font-size: 12px;
  padding-right: 8px;
  width: 100%;
  text-align: right;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 640px) {
  .tpsc-price {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .tpsc-price {
    font-size: 14px;
  }
}

.tpsc-quantity-selector-mobile {
  display: flex;
  background-color: #e5e7eb;
  color: #000000;
  padding: 8px;
  margin-top: 8px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (min-width: 1024px) {
  .tpsc-quantity-selector-mobile {
    display: none;
  }
}

.tpsc-quantity-selector {
  width: 40px;
  background-color: #ebebeb;
  padding: 6px 0;
  color: #805b99;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  bottom: 65%;
  left: 0;
  margin-bottom: 8px;
  transition: opacity 0.2s ease-in-out;
}

@media (min-width: 640px) {
  .tpsc-quantity-selector {
    width: 40px;
    padding: 8px 0;
  }
}

@media (min-width: 1024px) {
  .tpsc-quantity-selector {
    display: flex;
  }
}
.tpsc-add-to-nocart {
  background-color: #805b99;
  color: #ffffff;
  border-radius: 0 8px 0 0;
  padding: 6px;
  width: 45px;
  z-index: 21;

}
.tpsc-quantity-input {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

@media (min-width: 640px) {
  .tpsc-quantity-input {
    font-size: 12px;
  }
}

.tpsc-add-to-cart {
  background-color: #805b99;
  color: #ffffff;
  border-radius: 0 8px 0 0;
  padding: 6px;
  width: 45px;
  z-index: 21;
  display: none;
}

@media (min-width: 1024px) {
  .tpsc-add-to-cart {
    display: inline;
  }
}

@media (min-width: 640px) {
  .tpsc-add-to-cart {
    padding: 8px;
  }
}

.tpsc-discount {
  position: absolute;
  top: 4px;
  left: 4px;
  color: #000000;
  padding: 4px;
  border-radius: 8px;
  font-size: 10px;
  background-color: #e74c3c;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 640px) {
  .tpsc-discount {
    top: 8px;
    left: 8px;
    font-size: 12px;
  }
}

.tpsc-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ebebeb;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  color: #805b99;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .tpsc-nav-button {
    height: 40px;
    width: 40px;
  }
}

.tpsc-prev-button {
  right: -16px;
  display: none; /* مخفی در موبایل */
}

.tpsc-prev-button-desktop {
  display: none; /* به‌طور پیش‌فرض مخفی */
}

@media (min-width: 768px) {
  .tpsc-prev-button-desktop {
    display: flex; /* نمایش در دسکتاپ */
  }
}

@media (min-width: 640px) {
  .tpsc-prev-button {
    right: -20px;
  }
}

.tpsc-next-button {
  left: -16px;
  display: none; /* به‌طور پیش‌فرض مخفی */
}

.tpsc-next-button-mobile {
  display: flex; /* نمایش در موبایل */
  border: none;
  background-color: unset;
}

.tpsc-next-button-desktop {
  display: none; /* مخفی در موبایل */
}

@media (min-width: 768px) {
  .tpsc-next-button-desktop {
    display: flex; /* نمایش در دسکتاپ */
  }
}

@media (min-width: 640px) {
  .tpsc-next-button {
    left: -20px;
  }
}

.tpsc-scroll-title {
  overflow-y: auto;
  max-height: 48px;
  scrollbar-width: thin;
  scrollbar-color: #805b99 #ebebeb;
}

.tpsc-scroll-title::-webkit-scrollbar {
  width: 4px;
}

.tpsc-scroll-title::-webkit-scrollbar-track {
  background: #ebebeb;
}

.tpsc-scroll-title::-webkit-scrollbar-thumb {
  background: #805b99;
  border-radius: 4px;
}

.tpsc-price-strikethrough {
  text-decoration: line-through;
  color: #999999;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.tpsc-price-discount-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.tpsc-price-strikethrough-text {
  margin-left: 16px;
  text-decoration: line-through;
  font-size: 13px;
}

.tpsc-discount-badge {
  background-color: #e74c3c;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color: #ffffff;
  border-radius: 6px;
  font-size: 11px;
}